<div class="container-fluid">
  <div class="row mx-4">
    <div class="col-3 col-lg-2 me-lg-5">
      <div class="genre mt-4 ms-5">
        <table class="table">
            <tr>
              <td class="text-center">ジャンル検索</td>
            </tr>
            <tr>
              <td class="border-bottom-0 py-3">ケーキ</td>
            </tr>
            <tr>
              <td class="border-bottom-0 py-3">焼き菓子</td>
            </tr>
            <tr>
              <td class="border-bottom-0 py-3">プリン</td>
            </tr>
            <tr>
              <td class="py-3">キャンディ</td>
            </tr>
        </table>
      </div>
    </div>
    <div class="col-7 col-lg-6 ms-5">
      <div class="row">
        <div class="greeting mt-4 d-flex justify-content-center align-items-center">
          <p>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="item-title">
          <h1>新着商品</h1>
        </div>
        <div class="item-image">
          <% @items.each do |item| %>
          <div class="">
            <%= image_tag item.image %><br>
            <%= item.name %><br>
            ¥<%= item.price %>
          </div>
          <% end %>
        </div>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>