<div class="container">
  <div class="row">
    <div class="col">
      <div class="row mt-4 mb-2">
        <h2>
          <span class="title">会員一覧</span>
        </h2>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <table class="table">
            <thead class="thead-color">
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <% @customers.each do |customer| %>
            <tbody>
              <tr>
                <td><%= customer.id %></td>
                <td>
                  <%= link_to admin_customer_show_path(customer.id),class: "text-dark" do %>
                    <%= customer.full_name %>
                  <% end %>
                </td>
                <td><%= customer.email %></td>
                <td>
                  <% if customer.is_deleted == false %>
                    <span class="text-success">有効</span>
                  <% else %>
                    <span class="text-secondary">退会</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>