<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <div class="row mt-4 mb-3 d-flex justify-content-between">
        <div class="col-5">
          <h2>
            <span class="title">注文情報入力</span>
          </h2>
        </div>
      </div>
      <%= form_with model: @order,url: ,method: :post do |f| %>
      <div class="row">
        <h3>支払方法</h3>
      </div>
      <div class="row">
        
      </div>
      <% end %>
    </div>
  </div>
</div>